@import url(./form-cria-conta-styles/reset-form-cria-conta.css);
@import url(./form-cria-conta-styles/header-form-cria-conta.css);
@import url(./form-cria-conta-styles/main-cria-conta.css);


:root{
   /* header */

   /* main */
   --main-background:#E5E5E5;
   --form-background:#fff;
   --cor-titulo:#1F1F1F;
   --titulo-secundario:#474747;
   --cor-label:#474747;
   --cor-botao:#C92071;
   --cor-texto-botao:#fff;
}